/* Stylesheet for jcomp-03's personal website */

:root {
    --my-white: blanchedalmond;
    --my-gray: lightslategray;
    --my-red: firebrick;
    --my-p-font-size: 20px;
    --my-std-border: solid 2px black;
    --my-std-border2: solid 5px var(--my-white);
}
/* Explicitly remove any pre-exisiting margin or padding the browser
   may try to force on elements in the web page. */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 10px 10px;
    border: var(--my-std-border);
    padding: 50px 0px;
    background-color: var(--my-gray);
    font-family: Arial, Verdana, sans-serif;
    font-weight: normal;
    font-size: var(--my-p-font-size);
    color: var(--my-red);
    /* background-image: url("LogoABB.svg"), url("fistandbolt.svg");
    background-repeat: no-repeat;
    background-position: left, right;
    background-clip: border-box, border-box;
    background-origin: content-box;
    background-size: contain, cover;
    background-attachment: scroll; */
}

header {
    /* border: var(--my-std-border2); */
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: var(--my-gray);
    font-family: cursive;
}

header h1 {
    /* border: var(--my-std-border2); */
    font-size: 45px;
    font-family: cursive;
}

header h1::first-letter {
    color: var(--my-red);
}

header h1 a {
    text-decoration: none;
    color: var(--my-white);
}

header nav {
    /* border: var(--my-std-border2); */
    display:flex;
    align-items: center;
    background-image: url("../images/panorama-rainforest.jpg");
    background-position: 65% 60%;
    /* background-image: linear-gradient(to left, var(--my-gray), var(--my-red)); */
}

header nav ul {
    /* border: var(--my-std-border2); */
}

header nav ul li {
    /* border: var(--my-std-border); */
    display: inline;
    margin-right: 35px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--my-white);
    font-weight: bolder;
    font-size: 26px;
}

/* SECTION STYLING BEGINS */
section {
    margin: 25px 0px;
    /* border: var(--my-std-border); */
    padding: 25px 25px 25px 10px;
}

.banner {
    background-image: url("../images/pic00.jpg");
    background-size: cover;
    height: 350px;
}

.wrap-section-title {
    margin-right: 25px;
    border-right: solid 5px var(--my-white);
    padding-right: 10px;
    display: flex;
    flex: 0 1 25%;
    align-items: flex-start;
    justify-content: flex-end;
}

.section-title {
    font-size: 3vw;
}

#id-about-me, #id-my-work {
    flex-wrap: nowrap;
}

.wrap-section-content {
    font-size: 1vw;
    flex: 100%;
}

.wrap-app-flagship {
    height: 600px;
    margin-bottom: 50px;
    border: var(--my-std-border2);
    background-color: darkseagreen;
}

#id-app-flagship-title {
    top: 475px;
}

#id-app-flagship-title h3 {
    padding-bottom: 0px;
    background-color: var(--my-white);
    width: 250px;
    font-size: 2vw;
}

#id-app-flagship-title p {
    background-color: var(--my-white);
    width: 250px;
    font-size: 1vw;
}

.wrap-app-miscellaneous {
    border: solid 5px black;
    justify-content: space-between;
}

.app-miscellaneous { /* The miscellaneous apps are flex items because their parent container is a flex box */
    height: 250px;
    width: 650px;
    border: var(--my-std-border2);
    margin: 25px 0;
}

.app-miscellaneous-title {
    top: 120px;
}
.app-miscellaneous h3 {
    background-color: var(--my-white);
    width: 250px;
    font-size: 2vw;
}

#id-app-2 {
    background-color: tomato;
}
#id-app-3 {
    background-color: orange;
}
#id-app-4 {  
    background-color: dodgerblue;
}
#id-app-5 {
    background-color: mediumseagreen;
}



.section-hero {
    background-image: url("../images/panorama-rainforest.jpg");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
    border: var(--my-std-border);
}

.div-hero-form {
    border: solid 3px blanchedalmond;
    padding: 10px;
    width: 550px;
    height: 300px;
    position: relative;
    left: 25px;
    background-color: rgba(119, 136, 153, 0.65);
}

.div-hero-form h2 {
    /* In case I need to style h2 */
}
.div-hero-form p {
    margin: 10px 0 10px 0;
}
.form-input {
    display: block;
    margin-bottom: 15px;
    width: 50%;
}

/***** UTILITIES *****/
.display-flex-row-wrap {
    display: flex;
    flex-flow: row wrap; 
}
.display-inline-block {
    display: inline-block;
}
.app-title-styling {
    padding-top: 10px;
    padding-left: 20px;
    height: 100px;
    background-color: var(--my-white);
    display: inline-block;
    position: relative;
}
